@use "helpers" as *;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.full-vw-line {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    width: calc((100vw - var(--container-width)) / 2);
    height: rem(1);
    background-color: var(--gray-15);
  }
  &--top {
    &::before {
      content: "";
      bottom: 100%;
    }
  }
  &--bottom {
    &::after {
      content: "";
      top: 100%;
    }
  }

  &--left {
    &::before,
    &::after {
      right: 100%;
    }
  }
  &--right {
    &::before,
    &::after {
      left: 100%;
    }
  }
}
