@use "../helpers/" as *;

.advantage-card {
  display: grid;
  row-gap: fluid(15, 30);

  &__image {
    width: fluid(30, 50);
    height: fluid(30, 50);
  }
  &__details {
    font-family: var(--font-family-accent);
    font-size: fluid(14, 20);
    color: var(--gray-60);
  }
  &__link {
    display: grid;
    row-gap: fluid(2, 4);
  }
}
