<footer class="footer">
  <div class="footer__container container">
    <div class="footer__body">
      <nav class="footer__menu">
        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="/">Home</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Features</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Blogs</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Resources</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Testimonials</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Contact Us</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Newsletter</a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="/">News</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Trending Stories</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Featured Videos</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Technology</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Health</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Politics</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Environment</a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="/">Blogs</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Quantum Computing</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">AI Ethics</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Space Exploration</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Biotechnology</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Renewable Energy</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Biohacking</a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="/">Podcasts</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">AI Revolution</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">AI Revolution</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">TechTalk AI</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">AI Conversations</a>
            </li>
          </ul>
        </div>

        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="/">Resources</a>
          <ul class="footer__menu-list footer__menu-list--modified">
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--button button" href="/">
                <span class="icon icon--yellow-arrow">Whitepapers</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--button button" href="/">
                <span class="icon icon--yellow-arrow">Ebooks</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--button button" href="/">
                <span class="icon icon--yellow-arrow">Reports</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link footer__menu-link--button button" href="/">
                <span class="icon icon--yellow-arrow"> Research Papers</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-privacy-and-terms">
        <ul class="footer__bottom-privacy-and-terms-list">
          <li class="footer__bottom-privacy-and-terms-item">
            <a class="footer__bottom-privacy-and-terms-link" href="/">Terms & Conditions</a>
          </li>
          <li class="footer__bottom-privacy-and-terms-item">
            <a class="footer__bottom-privacy-and-terms-link" href="/">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom-soc1als soc1als">
        <ul class="soc1als__list">
          <li class="soc1als__item">
            <a class="soc1als__link" href="/" target="_blank" aria-label="Twitter" title="Twitter">
              <img src="/images/icons/twittersvg.svg" width="24" height="24" alt="Twitter" />
            </a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link" href="/" target="_blank" aria-label="Medium" title="Medium">
              <img src="/images/icons/mediumsvg.svg" width="24" height="24" alt="Medium" />
            </a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link" href="/" target="_blank" aria-label="LinkedIn" title="LinkedIn">
              <img src="/images/icons/linkedin.svg" width="24" height="24" alt="LinkedIn" />
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__bottom-copyright">© <time datetime="2024">2024</time> FutureTech. All rights reserved.</p>
    </div>
  </div>
</footer>
