<header class="header" data-js-header>
  <div class="header__promo">
    <div class="header__promo-container container">
      <a href="/" class="header__promo-link"
        ><span class="inline-icon inline-icon--yellow-arrow"
          >Subscribe to our Newsletter For New & latest Blogs and Resources</span
        ></a
      >
    </div>
  </div>

  <div class="header__body">
    <div class="header__body-container container">
      <a href="/" class="header__logo logo" title="Home" aria-label="Home">
        <img src="/public/images/icons/logo.svg" alt="" class="logo__image" width="179" height="50" />
      </a>
      <div class="header__overlay" data-js-header-overlay>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item">
              <a href="./index.html" class="header__menu-link is-active">Home</a>
            </li>
            <li class="header__menu-item">
              <a href="./news.html" class="header__menu-link">News</a>
            </li>
            <li class="header__menu-item">
              <a href="./podcasts.html" class="header__menu-link">Podcasts</a>
            </li>
            <li class="header__menu-item">
              <a href="./resources.html" class="header__menu-link">Resources</a>
            </li>
          </ul>
        </nav>
        <a href="./contacts.html" class="header__contact-us button button--accent button--contact">Contact Us</a>
      </div>

      <button
        data-js-header-burger-button
        class="header__burger-button burger-button"
        aria-label="Toggle menu"
        title="Toggle menu"
      >
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
      </button>
    </div>
  </div>
</header>
